<table summary="Campaign form fields">
  <tr>
    <th>Company</th>
    <td><%= f.select(:package_type, ['Mobpartner', 'ClicksMob'] ) %></td>
  </tr>
  <tr>
    <th>Type</th>
    <td><%= f.select(:os, ['Android', 'Iphone'] ) %></td>
  </tr>
  <tr>
    <th>Commision Type</th>
    <td><%= f.select(:commision_type, ['CPI', 'CPC'] ) %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Image Url</th>
    <td><%= f.text_field(:image_url) %></td>
  </tr>
  <tr>
    <th>Package Name</th>
    <td><%= f.text_field(:package_name) %></td>
  </tr>
  <tr>
    <th>Type</th>
    <td><%= f.select(:package_type, ['App', 'Game'] ) %></td>
  </tr>
  <tr>
    <th>Active?</th>
    <td><%= f.select(:active, {"Yes" =>true, "No" => false} ) %></td>
  </tr>
  <tr>
    <th>Min SDK</th>
    <td><%= f.number_field  :min_sdk, :class => 'text_field', :step => 'any' %></td>
  </tr>
  <tr>
    <th>Notifications?</th>
    <td><%= f.select(:notifications, {"No" => false, "Yes" =>true} ) %></td>
  </tr>
  <tr>
    <th>Emailing?</th>
    <td><%= f.select(:emailing, {"No" => false, "Yes" =>true} ) %></td>
  </tr>
  <tr>
    <th>SMS?</th>
    <td><%= f.select(:sms, {"No" => false, "Yes" =>true} ) %></td>
  </tr>
  <tr>
    <th>Instructions</th>
    <td><%= text_area_tag(@campaign.instructions, "", :size=> "24x6") %></td>
  </tr>

</table>