<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="campaign show">
  <h2>Show Campaign</h2>
  <table summary="Campaign detail view">

    <tr>
      <th>Company</th>
      <td><%= @campaign.company %></td>
    </tr>
    <tr>
      <th>OS</th>
      <td><%= @campaign.os %></td>
    </tr>
    <tr>
      <th>Type</th>
      <td><%= @campaign.commision_type %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @campaign.name %></td>
    </tr>
    <tr>
      <th>Image Url</th>
      <td><%= image_tag(@campaign.image_url , :width => 80, :height => 50) %></td>
    </tr>
    <tr>
      <th>Package Name</th>
      <td><%= @campaign.package_name %></td>
    </tr>
    <tr>
      <th>Type</th>
      <td><%= @campaign.package_type %></td>
    </tr>
    <tr>
      <th>Active?</th>
      <td><%= status_tag(@campaign.active) %></td>
    </tr>
    <tr>
      <th>Min SDK</th>
      <td><%= @campaign.min_sdk %></td>
    </tr>
    <tr>
      <th>Notifications?</th>
      <td><%= status_tag(@campaign.notifications) %></td>
    </tr>
    <tr>
      <th>Emailing?</th>
      <td><%= status_tag(@campaign.emailing) %></td>
    </tr>
    <tr>
      <th>SMS?</th>
      <td><%= status_tag(@campaign.sms) %></td>
    </tr>
    <tr>
      <th>Instructions</th>
      <td><%= text_area_tag(@campaign.instructions, @campaign.instructions, :size=> "24x6") %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @campaign.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @campaign.updated_at %></td>
    </tr>
  </table>

</div>
